doctype html
html(lang="en")
  include head.pug
  body.loading.homepage(data-barba="wrapper")
    include header-home.pug 
    
    main 
      block content

    include nav-menu.pug 

    include foot.pug  