doctype html
html(lang="en")
    include head.pug
    body.book(data-barba="wrapper")
        div(data-barba="container", data-barba-namespace="book")
            include header-book.pug 
            
            main 
            block content

            //- include prevNextPost.njk


            //- {% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
            //- {% assign nextPost = collections.posts | getNextCollectionItem: page %}


            //- {% if nextPost %}

            //- <p>Next Post is: {{ nextPost.data.aboutBook.title}}</p>

            //- {% endif %}


            include nav-menu.pug 

        include foot.pug  