// Header Nav
header.header
  a(href="/")
    img(
      class="header__logo" 
      alt="Book Sluts Glyph Wordmark" 
      src="/assets/brand/BookSlutsLogo-Horizontal.svg"
      )
  a.toggleMenu Menu