nav.nav.nav-home
    .nav-bg
    header.header.inner
        a(href="/")
        img(
            class="header__logo" 
            alt="Book Sluts Glyph Wordmark" 
            src="/assets/images/brand/BookSlutsLogo-Horizontal-white.svg"
            )
        a.toggleMenuClose Close
    .navContainer
        h2 All Books
        ul.bookList
            for book in collections.book
                li
                    a(href=book.url)= book.data.aboutBook.title