doctype html
html(lang="en")
  include ../components/head.pug
  body.loading.homepage(data-barba="wrapper")
    div(data-barba="container", data-barba-namespace="home")
      //- include header-home.pug 
      
      main 
        block content

        //- include ../components/prevNextPost.njk


        //- {% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
        //- {% assign nextPost = collections.posts | getNextCollectionItem: page %}


        //- {% if nextPost %}

        //- <p>Next Post is: {{ nextPost.data.aboutBook.title}}</p>

        //- {% endif %}
      include ../components/nav-menu.pug 


    include ../components/foot.pug  