doctype html
html(lang="en")
    block head
        include ../components/head.pug
    body.book(data-barba="wrapper")
        div(data-barba="container", data-barba-namespace="book")
            include ../components/header-book.pug 
            
            main 
            block content

            //- include prevNextPost.njk


            //- {% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
            //- {% assign nextPost = collections.posts | getNextCollectionItem: page %}


            //- {% if nextPost %}

            //- <p>Next Post is: {{ nextPost.data.aboutBook.title}}</p>

            //- {% endif %}


            include ../components/nav-menu.pug 

        include ../components/foot.pug  