---
title: Homepage
---

extends _includes/base.pug
    
block content
    .main
        h1 Homepage
        p Lorem ipsum
        ul 
            for book, index in collections.books
                include /snippet_homepage.pug